@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("..fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  font-family: 'Proxima Nova Rg';
  color: #22262a;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.font-semibold, .nav-link, .best-seller-section .best-seller-title, .best-seller-items-container .best-seller-items-title {
  font-weight: 600;
}

.font-bold, .carousel-section .slide-title, .carousel-section .slide-link, .gadget-card .card-title {
  font-weight: bold;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container, .flex-vertical-center, .column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 216px;
}

.top-menu {
  height: 48px;
  border-bottom: 1px solid #FAFAFB;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu .dd:first-child {
  margin-right: 20px;
}

.profile-link,
.cart-link {
  font-size: 14px;
  text-decoration: none;
  color: #22262a;
  margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
  margin-right: 10px;
}

.cart-controls {
  margin-right: 58px;
}

.cart-link {
  margin-right: 0;
}

.cart-total {
  opacity: .5;
  margin-left: 10px;
  font-size: 14px;
}

.logo-and-nav-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 36px;
}

nav {
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #22262a;
}

.nav-link.active, .nav-link:hover {
  color: #33A0FF;
}

.carousel-section {
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.carousel-section .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 35px;
}

.carousel-section .slide-description {
  padding-top: 161px;
  color: white;
}

.carousel-section .slide-title {
  font-size: 36px;
}

.carousel-section .slide-text {
  margin: 40px 0;
  line-height: 22px;
  font-size: 14px;
}

.carousel-section .slide-link {
  text-decoration: none;
  line-height: 22px;
  font-size: 14px;
  color: white;
  border-bottom: 3px solid white;
}

.carousel-section .slide-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.top-gadgets-section {
  margin-top: -55px;
}

.top-gadgets-section .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gadget-card {
  width: 390px;
  height: 280px;
  background-color: #F6F7F8;
  color: #22262a;
  text-decoration: none;
  padding: 36px 16px 20px 30px;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}

.gadget-card:first-child {
  background-color: #FF6875;
  color: white;
}

.gadget-card:first-child .card-text {
  width: 220px;
}

.gadget-card:first-child .card-image {
  right: 0;
  bottom: 0;
}

.gadget-card:first-child .price {
  opacity: .75;
}

.gadget-card:last-child {
  background-color: #C1C8CE;
}

.gadget-card:last-child .card-text {
  width: 160px;
}

.gadget-card:last-child .price {
  opacity: .75;
}

.gadget-card .card-title {
  font-size: 24px;
}

.gadget-card .card-text {
  font-size: 12px;
  line-height: 20px;
  margin: 20px 0;
}

.gadget-card .price {
  font-size: 24px;
}

.gadget-card .card-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gadget-card img {
  position: absolute;
}

.gadget-card .card-image-gopro {
  bottom: 0;
  right: -26px;
}

.card2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.best-seller-section {
  margin-top: 100px;
}

.best-seller-section .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.best-seller-section .best-seller-title {
  font-size: 30px;
  text-transform: uppercase;
}

.best-seller-section .navigation-best-seller {
  margin: 17px 0;
  width: 478px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-seller-section .nav-link {
  text-transform: capitalize;
  border-bottom: solid 3px white;
}

.best-seller-section .nav-link.active, .best-seller-section .nav-link:hover {
  border-bottom: solid 3px #33A0FF;
}

.product-image-container {
  position: relative;
  margin-bottom: 30px;
}

.product-image-container .product-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.product-image-container .product-controls button {
  width: 46px;
  height: 46px;
  border: 2px solid #33A0FF;
  border-radius: 50%;
  margin: 0 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.product-image-container .product-controls .like {
  background-image: url(../sources/hearts.svg);
}

.product-image-container .product-controls .add-to-cart {
  background-image: url(../sources/cart_2.svg);
}

.best-seller-items-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-seller-items-container .item {
  position: relative;
  border: solid 3px #f6f7f8;
  padding: 30px 17px;
  margin: 15px 0;
  cursor: pointer;
}

.best-seller-items-container .item:hover img {
  opacity: 0.1;
}

.best-seller-items-container .best-seller-items-title {
  text-align: center;
  font-size: 14px;
  color: #22262a;
  padding-top: 15px;
  border-top: 3px solid #f6f7f8;
  margin-bottom: 28px;
}

.best-seller-items-container .stars {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.best-seller-items-container .stars img {
  margin: 0 3px;
}

.best-seller-items-container .stars img:hover {
  cursor: pointer;
}

.best-seller-items-container .price-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.best-seller-items-container .price-container span {
  margin: 0 6.5px;
}

.best-seller-items-container .new-price {
  color: #FF6875;
}

.best-seller-items-container .old-price {
  position: relative;
  color: #c1c8ce;
}

.best-seller-items-container .old-price::before {
  content: "";
  position: absolute;
  width: 40px;
  border-bottom: solid 1.5px #5d656b;
  top: 9px;
}

.best-seller-items-container .hot {
  display: none;
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #ff4858;
  border-radius: 1px;
  text-align: center;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  top: 10px;
  left: 10px;
}

.best-seller-items-container .hot-active {
  display: block;
}
/*# sourceMappingURL=site.css.map */