@import'base';

header {
    height: 216px;

}

.top-menu {
    height: 48px;
    border-bottom: 1px solid #FAFAFB;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.top-menu .dd:first-child {
    margin-right: 20px;
}

.profile-link,
.cart-link {
    font-size: 14px;
    text-decoration: none;
    color: $primary-color;
    margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
    margin-right: 10px;
}

.cart-controls {
    margin-right: 58px;
}

.cart-link {
    margin-right: 0;
}

.cart-total {
    opacity: .5;
    margin-left: 10px;
    font-size: 14px;
}

.logo-and-nav-container {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 36px;
}

nav {
    width: 660px;
    justify-content: space-between;
}

.nav-link {
    @extend .font-semibold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $primary-color;

    &.active,
    &:hover {
        color: $active-color;
    }
}

.carousel-section {
    height: 650px;
    background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);

    .container {
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 35px;
    }

    .slide-description {
        padding-top: 161px;
        color: white;
    }

    .slide-title {
        @extend .font-bold;
        font-size: 36px;
    }

    .slide-text {
        margin: 40px 0;
        line-height: 22px;
        font-size: 14px;
    }

    .slide-link {
        @extend .font-bold;
        text-decoration: none;
        line-height: 22px;
        font-size: 14px;
        color: white;
        border-bottom: 3px solid white;
    }
    .slide-img{
        flex-shrink: 0;
    }
}

.top-gadgets-section {
    margin-top: -55px;

    .container {
        justify-content: center;
    }
} 

.gadget-card {
    width: 390px;
    height: 280px;
    background-color: #F6F7F8;
    color: $primary-color;
    text-decoration: none;
    padding: 36px 16px 20px 30px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
    

    &:first-child {
        background-color: #FF6875;
        color: white;

        .card-text {
            width: 220px;
        }

        .card-image {
            right: 0;
            bottom: 0;
        }

        .price {
            opacity: .75;
        }
    }

    &:last-child {
        background-color: #C1C8CE;

        .card-text {
            width: 160px;
        }

        .price {
            opacity: .75;
        }
    }

    .card-title {
        @extend .font-bold;
        font-size: 24px;
    }

    .card-text {
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0;
    }

    .price {
        font-size: 24px;
    }

   .card-container{
       justify-content: space-between;
   }
   img{
       position: absolute;
   }
   .card-image-gopro{
    bottom: 0;
    right: -26px;
   }
}
.card2{
    flex-direction: column;
    justify-content: flex-end;
    
}
.best-seller-section{
    margin-top: 100px;
    .container {
        align-items: center;
        flex-direction: column;
    }
    .best-seller-title{
        @extend .font-semibold;
        font-size: 30px;
        text-transform: uppercase;
    
    }
    .navigation-best-seller{
        margin: 17px 0;
        width: 478px;
        justify-content: space-between;
    }
    .nav-link{
        text-transform: capitalize;
        &:hover {
            border-bottom: solid 3px $active-color;
        }
    }
}
.product-image-container{
    position: relative;
    margin-bottom:30px ;

    .product-controls{
        width: 100%;
        height: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        z-index: -1;

        button{
            width: 46px;
            height: 46px;
            border: 2px solid $active-color;
            border-radius: 50%;
            margin: 0 5px;
            background-position:center;
            background-repeat: no-repeat;
            
        }
        .like{
            background-image: url(../sources/hearts.svg) ;
        }
        .add-to-cart{
            background-image: url(../sources/cart_2.svg) ;
        }
    }
    &:hover img{
        opacity: 0.1;
        cursor: pointer;
    }
}
.best-seller-items-container{
    flex-wrap: wrap;
    justify-content: space-between;
    

    .item{
        position: relative;
        border: solid 3px #f6f7f8;
        padding: 30px 17px;
        margin: 15px 0;
    }

    .best-seller-items-title{
        text-align: center;
        @extend .font-semibold;
        font-size: 14px;
        color: $primary-color;
        padding-top: 15px;
        border-top: 3px solid #f6f7f8;
        margin-bottom: 28px;
    }
    .stars{
        justify-content: center;
        margin-bottom: 16px;
        
        img{
            margin: 0 3px;
        }
        img:hover{
            cursor: pointer;
        }
    }
    .price-container{
        justify-content: center;
        position: relative;
        span{
            margin: 0 6.5px;
        }
    }
    .new-price{
        color: #FF6875;
    }
    .old-price{
        position: relative;
        color: #c1c8ce;
        
    }
    .old-price::before{
        content: "";
        position: absolute;
        width: 40px;
        border-bottom: solid 1.5px #5d656b;
        top: 9px;
    }
    .hot{
        display: none;
        position: absolute;
        width: 40px;
        height: 20px;
        background-color: #ff4858;
        border-radius: 1px;
        text-align: center;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 20px;
        top: 10px;
        left: 10px;
    }
    .hot-active{
        display:block;
    }
    
}